body {
    font-family: sans-serif;
  }
  
  .header {
    display: flex;
    align-items: center;
  }
  .content {
    display: none;
  }
  #heading{
    font-size: 32px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  .active {
    display: block;
    border-top: 1px solid red;
    padding-top: 8px;
  }
  .box{
    border: 1px solid blanchedalmond;
    width: 500px;
    margin-top: 12px;
    padding: 12px;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
p {
    margin-right: 8px;
    font-size: 18px;
    font-weight: 800;

}
  